.messages {
    height: 900px
;
}
.messages a {
  text-decoration: none;
  color: #333333;
}
.contentChat{
  margin-left: 50px;
  font-size: 12px;
}
.contentChat{
  color: rgb(26, 21, 21) !important;
  font-weight: 500;
}