<header>

    <div class="container" *ngIf="profile">
        <div class="left"><img src="assets/img/logo.svg"></div>
        <div class="middle">
            <h3>{{profile.name}}</h3>
            <p>Messenger</p>
        </div>
        <div class="right">
            <div class="username">
                <div class="settings"><img src="assets/img/settings.svg"></div>Patrcia Fields
            </div>
            <div class="avatar"><img src="assets/img/avatar.png"></div>
        </div>
    </div>
</header>
